* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: pink;
}

p {
  color: red;
  font-size: 1em;
}

div {
  background-color: skyblue;
  padding: 1em;
}

.caja {
  padding: 1em;
  margin-top: 20px;
  position: relative;

  div {
    border: 2px solid black;

    &:first-child {
      background-color: yellow;
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 1;
      width: 100px;
      height: 100px;
    }

    &:last-child {
      background-color: green;
      position: absolute;
      top: 1em;
      left: 1em;
      width: 120px;
      height: 120px;
      z-index: 2;
    }
  }
}

.box {
  width: 200px;
  margin: 0 auto;
  position: fixed;
  background-color: aliceblue;
  top: 0;
  right: 0;
}

.p1 {
  color: blue;
}

@media (min-width: 800px) {
  body {
    background-color: orange;
  }
}